.component-header {
     color: cornsilk;
     background-color: rgba(22, 22, 175, 0.692);
     margin-top:10px;
     padding-top:5px;
     padding-bottom:5px;
     margin-bottom:10px;
     font-family: 'Times New Roman', Times, serif;
}